@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.book-table {
  background-image: url("/images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, bottom;
}
