@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h2,
h1 {
  font-family: "Bebas Neue", sans-serif;
}
html{
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-header {
  background-image: linear-gradient(#bd1f1700, #bd1f17b2);
  padding: 0px 20px 0px 0px;
  font-family: "Bebas Neue", sans-serif;
}
.book-table {
  background-image: url("/images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, bottom;
}
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/footerimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



@media (max-width: 767px) {
  .banner-header {
    background-image: none;
  }
}
